<div class="container col-md-11 py-4">
    <div class="row">
        <div class="col-md-3 py-2"*ngFor="let tv of tvShow|search:searchValue">
            
           
                <div class="tv p-2 details">
                    <div class="img">
                        <div class="img-layer"></div>
                        <img src="https://image.tmdb.org/t/p/w500/{{tv.poster_path}}" class="w-100 shadow-lg rounded" alt="photo of {{tv.title}} tv">
                        <svg class="heart" viewBox="0 0 32 29.6" (click)="addToFavorites(tv,'tv')">
                            <path d="M23.6,0c-3.4,0-6.3,2.7-7.6,5.6C14.7,2.7,11.8,0,8.4,0C3.8,0,0,3.8,0,8.4c0,9.4,9.5,11.9,16,21.2
                              c6.1-9.3,16-12.1,16-21.2C32,3.8,28.2,0,23.6,0z"/>
                          </svg> 
                          <a routerLink="/details/tv/{{tv.id}}" class="details">
                          <div class="detail-icon">
                            <i class="fas fa-info-circle fa-2x"></i>
                          </div>
                          </a>

                        <div class="vote-container">
                            <div class="vote">
                                <h6>{{tv.vote_average}}</h6>
                                
                            </div>
                          
                        </div>
                    </div>
                    <a routerLink="/details/tv/{{tv.id}}" class="details">
                    <div class="title py-3 my-2 d-flex justify-content-center ">
                        <h4>{{tv.name}}</h4>
                    </div>
                    </a>
                </div>
           
        </div>
    </div>
    
</div>